<div class="search-wrapper p-4 max-w-lg mx-auto">
  <div class="flex items-center mb-4">
    <input
      type="text"
      placeholder="Search for books..."
      [formControl]="searchControl"
      class="flex-grow p-2 border border-gray-300 rounded-l-md focus:outline-none"
    />
    <button
      type="button"
      class="p-2 bg-blue-500 text-white rounded-r-md hover:bg-blue-600"
      (click)="searchControl.setValue(searchControl.value)"
    >
      Search
    </button>
  </div>

  <div *ngIf="errorMsg" class="error-message text-red-600 mb-2">
    {{ errorMsg }}
  </div>

  <ng-container *ngIf="filteredBooks$ | async as books; else loading">
    <app-book-list [books]="books"></app-book-list>
  </ng-container>

  <ng-template #loading>
    <p class="text-gray-500">Loading books...</p>
  </ng-template>
</div>
