<div class="p-4 max-w-md mx-auto">
  <input
    type="text"
    id="search-input"
    class="w-full p-2 border border-gray-300 rounded"
    placeholder="Search..."
  />
  <div
    id="loading"
    class="mt-2 text-blue-600"
    *ngIf="loading"
  >
    Loading...
  </div>
  <ul id="search-results" class="mt-2">
    <li *ngFor="let result of results" class="p-2 border-b">{{ result }}</li>
  </ul>
  <div
    id="error-message"
    class="mt-2 text-red-600"
    *ngIf="error"
  >
    {{ error }}
  </div>
</div>
